
.img-char{
     float: left;
    width: 30%;
    text-align: center;
}
.img-char img{
    width:100%;
}
.characteristic{
    float: left;
    margin-left: 30px;
}
.bodyCharacteristic{
    margin-left: 5%;
}
.bodyChar{
    width: 80%;
}
.img-wrap{
    width: 250px;
    height: 30vh;
    float: left;
}
.col-md-4{
    float: left;
}
.nav-box{
    width: 100%;
    height: 20vh;
    text-align: center;
}
.nav-box img{
    width: 400px;
    height: 90%;
}
.main-products{
    margin-left: 15%;
    width: 85%;
    height: 90vh;
}
.aside-products{
    width: 15%;
    height: 90vh;
    background: #c9c9c9;
    float: left;
}
.container{
    border: 1px solid gray;
    float: left;
    width: 25%;
    height: 50vh;
    background: white;
}
.div-product-img img{
    width: 90%;
    height: 30vh;
}
.char-article{
    width: 15%;
    margin-left: 80%;
    height: 20vh;
   border: 1px solid grey;
    text-align: center;
}

.basket-box{
    width: 50%;
    height: 20vh;
}

footer{
    height: 200px;
    background-color: black;
    width: 100%;

}
#footer-left{
    margin: auto;
    text-align: center;
    float: left;
}
#footer-midle{
    margin: auto;
    text-align: center;
    float: left;
}
#footer-right{
    margin: auto;
    text-align: center;
    float: left;
}